.app-footer {
  .footer {
    padding: 50px 0;
    text-align: center;

    .social-wrapper {
      display: flex;
      justify-content: center;
    }

    .copyright {
      margin-top: 20px;

      a {
        display: inline-block;

        &:hover {
          color: var(--color-bg);
        }
      }
    }
  }
}
