.about-main {
  padding-bottom: 40px;

  p {
    margin-bottom: 1em;
    text-align: justify;
  }

  .main {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;

    .left {
      flex: 1;

      .pd {
        padding-right: 20px;
      }
    }

    .right {
      flex: 1;

      .pd {
        padding-left: 20px;
      }
    }

    @media (max-width: 767px) {
      display: block;
      padding: 0 20px;

      p {
        letter-spacing: 0.5px;
        text-align: left;
      }

      .left {
        .pd {
          padding-right: 0;
        }
      }

      .right {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        .pd {
          padding-left: 0;
        }
      }
    }
  }
}
