.about-main {
  p {
    margin-bottom: 1em;
    text-align: justify;
  }

  .main {
    display: flex;

    .left {
      flex: 1;

      .pd {
        padding-right: 20px;
      }
    }

    .right {
      flex: 1;

      .pd {
        padding-left: 20px;
      }
    }

    @media (max-width: 767px) {
      display: block;

      p {
        letter-spacing: 0.5px;
        text-align: left;
      }

      .left {
        .pd {
          padding-right: 0;
        }
      }

      .right {
        margin-top: 20px;
        padding-top: 20px;
        position: relative;

        &::before {
          width: 100%;
          height: 1px;
          content: '';
          background-color: var(--color-text);
          opacity: 0.1;
          position: absolute;
          top: 0;
        }

        .pd {
          padding-left: 0;
        }
      }
    }
  }
}
