h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  --color-theme: #ffffff;
  --color-text: #000000;
  --color-bg: #715699;

  height: 100vh;
  font-family: Cutive Mono, Courier New, Consolas, monospace;
  font-size: 14px;
  color: var(--color-text);
  background-color: #ffffff;
}
