.about-header {
  .header {
    max-width: 1080px;
    height: 260px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      height: 90px;
      padding: 0 20px;
      flex-direction: row-reverse;

      .mini-piano,
      .mini-social {
        display: none;
      }
    }
  }
}
