@import '~@/styles/mixin.scss';

.mini-social {
  ul {
    display: flex;
    padding: 0 10px;

    li {
      height: 45px;
      padding: 0 5px;

      a {
        height: 100%;
        display: flex;
        align-items: center;

        img {
          width: 30px;
        }
      }
    }
  }
}
